{{#each cheeseplates as |cheeseplate|}}
<div class="newest-plates">
  <ul class="list-group">
    <li class="list-group-item">
      {{cheeseplate.name}}
      <button type="button" class="delete-cheeseplate-button" data-cheeseplate-id="{{cheeseplate.id}}">Delete Cheeseplate</button>
    </li>
  </ul>
</div>
{{/each}}
