{{#each cheeses as |cheese|}}
<ul class="list-group">
  <li class="list-group-item">
    <p>{{cheese.name}}</p>
    <p>{{cheese.description}}</p>
  </li>
</ul>
  <!--<button type="button" class="update-button" data-cheese-id="{{cheese.id}}">Update Cheese</button>
  <input type="text" class="new-cheese-name" data-cheese-name="{{cheese.name}}" placeholder="New cheese name">-->
{{/each}}
