{{#each cheeses as |cheese|}}
<div>
  data = {{cheese.name}}
  id = {{cheese.id}}
</div>
<div>
<button type="button" class="delete-button" data-cheese-id="{{cheese.id}}">Delete Cheese</button>
</div>
{{/each}}
