{{#each cheeses as |cheese|}}
<div class="cheese-library-section">
  {{cheese.name}}
  {{cheese.id}}
  <!--<button type="button" class="update-button" data-cheese-id="{{cheese.id}}">Update Cheese</button>-->
  <input type="text" class="new-cheese-name" data-cheese-name="{{cheese.name}}" placeholder="New cheese name">
</div>
{{/each}}
