$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';


.sign-up-button {
  background: none;
  border: 0;
  padding: 0;
}

.sign-in-button {
  background: none;
  border: 0;
  padding: 0;
}

.change-password-button {
  background: none;
  border: 0;
  padding: 0;
}

.sign-out-button {
  background: none;
  border: 0;
  padding: 0;
}

#make-plate-button {
  background-color: #767575;
  border: none;
}

#begin-button {
  border: 2px solid #fff;
}

.add-button {
  float: right;
  position: relative;
  top: 50%;
  right: 10%;
  vertical-align: middle;
  text-decoration: none;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
}

.newest-plate {
  margin: 10px;
}

.create-new {
  padding: 7px;
  background-color: gray;
  color: #fff;
  border: 2px solid #fff;
}

.create-new:hover {
  color: black;
}

.new-cheeseplate-div {
  margin: 25px;
}
